.navbar {
  background-color: cornflowerblue;
  color: white;
  min-height: 43px;

  .navbar-contents {
    width: 100%;

    .app-title {
      font-size: 47px;
      font-weight: bold;
      padding-left: 15%;
      pointer-events: none;
    }

    app-login {
      float: right;
      padding-right: 225px;
    }
  }
}

app-chats-list {
  position: fixed;
  bottom: 0;
}
