<div class="chat" [ngClass]="{active: active, minimized: minimized}">
  <div class="header" (click)="changeMinimalizationState()" [style.width.px]="getActualWidth()">
    <span class="profile-picture"></span>
    <span class="contact-name">{{contact.name + ' ' + contact.surname}}</span>
    <span class="close-button" (click)="close()"></span>
  </div>
  <div (click)="select()" *ngIf="!minimized" id="{{'conversation-' + contact.id}}">
    <div class="conversation">
      <div *ngFor="let message of messages; let i = index" class="message"
           [ngClass]="{'received-message': isReceivedMessage(message), 'sent-message': !isReceivedMessage(message)}">
        <span class="profile-picture" *ngIf="hasDisplayedProfileIcon(message, i)"></span>
        <span class="content" [style.margin-left]="hasDisplayedProfileIcon(message, i) ? '5%' : '16.9%'">{{message.content}}</span>
      </div>
    </div>
    <div>
      <form (ngSubmit)="sendMessage()">
        <input [(ngModel)]="messageContent" class="form-control" placeholder="Wpisz wiadomość..." [ngModelOptions]="{standalone: true}"
               #messageInput/>
      </form>
    </div>
  </div>
</div>
