<ul class="navbar">
	<li class="nav-element app-title">friendsbook</li>
	<form class="right-elements">
		<li class="nav-element">
			<div [(ngModel)]="user.emailOrLogin" name="emailOrLogin">E-mail lub login</div>
			<input />
		</li>
		<li class="nav-element">
			<div>Hasło</div>
			<input type="password" [(ngModel)]="user.password" name="password"/>
			<div class="password-reminder">Nie pamiętasz hasła?</div>
		</li>
		<li class="nav-element">
			<button class="btn btn-primary">Zaloguj się</button>
		</li>
	</form>
</ul>