<form (ngSubmit)="logIn()">
    <ul class="navbar">
            <li class="nav-element app-title">friendsbook</li>
            <div class="right-elements">
                    <li class="nav-element">
                            <div>E-mail lub login</div>
                            <input [(ngModel)]="name" name="login"/>
                    </li>
                    <li class="nav-element">
                            <div>Hasło</div>
                            <input type="password" [(ngModel)]="password" name="password"/>
                            <div class="password-reminder">Nie pamiętasz hasła?</div>
                    </li>
                    <li class="nav-element">
                            <button class="btn btn-primary" type="submit">Zaloguj się</button>
                    </li>
            </div>
    </ul>
</form>
