.login-form {
	list-style-type: none;
  display: flex;
  margin-bottom: 0;

  .login-control {
    display: inline;
    margin-right: 6%;

    .btn {
      margin-top: 23%;
      padding-top: 2%;
      padding-bottom: 2%;
    }

    .password-reminder {
      color: lightblue;
    }
  }
}
